#wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
    ;
}

body{
    background-color: #FEFBFF;
    color: #FFB6CC;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}