#wrapper {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer"
    ;
}

#header > header {
    grid-area: header;
    width: 80%;
    height: 100px;
    margin: 5px auto 5px auto;
    border-radius: 10px;
    border: 1px solid black;
}

#nav > nav {
    grid-area: nav;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
    margin: 20px;
}

#main > main {
    grid-area: main;
    margin: 20px;
}

body{
    background-color: #FEAEFF2;
    color: #54627B;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}

#footer > footer {
    grid-area: footer;
    clear: both;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px;
}