<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <title>Om oss</title>
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">
            <header>
                <a href="/">
                    <img src="static/Logotyp_v1.png" alt="Foodnest logo">
                </a>
            </header>

                <main>
                    <h1>Om Foodnest</h1>
                    <p>Text om oss:)</p>
                </main>
        
                <footer>
                    <a href="/about">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p> © Foodnest 2021</p>
                </footer>
        </div>
    </body>
</html>