<!--Kommentar för kodgranskning-->
<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <title>Om oss</title>
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">
            <header>
                <a href="/posts">
                    <img src="static/Logotyp_v1_ny.png" alt="Foodnest logo">
                </a>
            </header>

            <nav>
                <a href="/posts">Utforska</a>
                <a href="/create_recipe">Skapa recept</a>
                <a href="/profile">Min profil</a>
                <a class="log-out" href="/">Logga ut</a>
            </nav> 

            <main>
                <h1>Om Foodnest</h1>
                <p>Text om oss:)</p>
            </main>
    
            <footer>
                <p><a href="/about">Om oss</a> © Foodnest 2021</p>
            </footer>
        </div>
    </body>
</html>