<!DOCTYPE html>
<html lang="sv">

  <head>
    <meta charset="utf-8"/>
    <title>Skapa konto</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/b500b05493.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div id="wrapper">
      <header class="no-border">
        <img src="static/Logotyp_v1_ny.png" alt="Foodnest logo"/>
      </header>

      <main>
        <div id="acc">
          <div id="link-box">
            <div id="link-right"></div>
            <a href="/" class="toggle-link">Logga in</a>
            <a href="/create_account" class="toggle-link">Registrera dig</a>
          </div>
          
          <form class="input" name="form" action="/new_member" method="POST">
            <input type="text" id="first-name" name="first-name" placeholder="Ange ditt förnamn" required/><br/>
            <input type="text" id="last-name" name="last-name" placeholder="Ange ditt efternamn" required/><br/>
            <input type="text" id="birthday" name="birthday" placeholder="ÅÅMMDD" required/><br/>
            <input type="text" id="email" name="email" placeholder="Ange din e-postadress" required/><br/>
            <input type="password" id="password" name="password" placeholder="Ange önskat lösenord (Minst 6 karaktärer varav 1 siffra och en stor bokstav)" required/><br/>
            <input type="submit" value="Skapa konto" id="submit"/>
          </form>
        </div>
      </main>
            
      % if error != '':
        <p>{{error}}</p>
      % end

      <footer>
        <p><a href="/about_index">Om oss</a>© Foodnest 2021</p>
        <i class="fab fa-facebook fa-lg" style="color: #3b5998"></i>
        <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
        <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
        <i class="fab fa-google fa-lg" style="color: #dd4b39;"></i>
        <i class="fab fa-linkedin fa-lg" style="color: #0082ca;"></i>
      </footer>
    </div>
  </body>
</html>