<!--
	FSR1.3.1(C) Varje steg ska en checkbox så man kan bocka av när det steget är färdigt 
FSR1.5(M) Ett inlägg ska innehålla en tabell med ingredienser
FSR1.6(C) Ett inlägg ska kunna läggas in i kategorier
	FSR1.6.1(C) Man kan lägga in ett recept i flera kategorier
	FSR2.1(M) Inlägget läggs in i flödet
Kommentar för kodgranskning
-->

<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8"/>
        <title>Skapa recept</title>
        <link href="static/style.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/>
    </head>

    <body>
        <div id="wrapper">
            <header>
                <a href="/posts">
                    <img src="static/Logotyp_v1.png" alt="Foodnest logo"/>
                </a>
            </header>

            <nav>
                <a href="/posts">Utforska</a>
                <a class="active" href="/create_recipe">Skapa recept</a>
                <a href="/profile">Min profil</a>
                <a class="log-out" href="/">Logga ut</a>
            </nav>

            <main>
                <h1>Skapa inlägg</h1>
                <form action="/save_recipe" method="POST" enctype="multipart/form-data">
                    <label for="title">Titel</label><br/>
                    <input type="text" name="title" id="title" placeholder="Ange din titel.." required/><br/>

                    <label for="ingredients">Ingredienser</label><br/>
                    <textarea name="ingredients" id="ingredients" placeholder="T.ex. 5dl mjöl, 2st ägg etc..." cols="45" rows="5" required></textarea><br/>

                    <label for="instructions">Instruktioner</label><br/>
                    <textarea name="instructions" id="instructions" placeholder="T.ex. 1. Sätt ungen på 220 grader..." cols="45" rows="5" required></textarea><br/> 

                    <label for="portions">Ange antal portioner</label><br/>
                    <select name="portions" id="portions" required><br/>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                    </select><br/>

                    <label for="filename"></label><br/>
                    <input type="file" id="picture" name="picture" required/><br/>
                    <input type="submit" value="Publicera" id="submit"/>
                </form>
            </main>

            <footer>
                <a href="/about">Om oss</a>
                <p>Kontakt: foodnest@hotmail.com</p>
                <p> © Foodnest 2021</p>
            </footer>
        </div> <!---SLUT PÅ WRAPPER-->
    </body>
</html> 