<!DOCTYPE html>
<html lang="sv">

  <head>
    <meta charset="utf-8"/>
    <title>Skapa recept</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/> 

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>     
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/b500b05493.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav class="navbar">
          <div class="logo">
            <a href="/posts">
              <img src="static/foodnest-logo-v2.png" id="foodnest-logo" alt="Foodnest logo"/>
            </a>
          </div>
          <a href="#" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </a>

          <div class="navbar-links">
            <ul>
              <li>
                <a href="/posts">Utforska</a>
              </li>             
              <li>
                <a class="active" href="/create_recipe">Skapa recept</a>
              </li>
              <li>
                <a href="/profile">Min profil</a>
              </li>
              <li>
                <a href="/">Logga ut</a>
              </li>
            </ul>
          </div>
        </nav>  
      </header>

      <main>
        <h1>Skapa recept</h1>
          <form action="/save_recipe" method="POST" enctype="multipart/form-data">
            <label for="title">Titel</label><br>
            <input type="text" name="title" id="title" placeholder="Ange din titel.." required/><br>
            <label for="ingredients">Ingredienser</label><br>
            <textarea name="ingredients" id="ingredients" placeholder="T.ex. 5dl mjöl, 2st ägg etc..." cols="45" rows="5" required></textarea><br>
            <label for="instructions">Instruktioner</label><br>
            <textarea name="instructions" id="instructions" placeholder="T.ex. 1. Sätt ungen på 220 grader..." cols="45" rows="5" required></textarea><br> 
            <label for="portions">Ange antal portioner</label><br>
            <select name="portions" id="portions" required><br>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select><br/>
            <fieldset>
              <legend>Ange vilka kategorier receptet ska ingå i</legend>
              <div id="checkboxes">
                <div>
                  <input type="checkbox" id="pasta" name="category[]" value="Pasta">
                  <label for="pasta">Pasta</label>
                </div>
                <div>
                  <input type="checkbox" id="soup" name="category[]" value="Soppa">
                  <label for="soup">Soppa</label>
                </div>
                <div>
                <input type="checkbox" id="kötträtt" name="category[]" value="Kötträtt">
                <label for="soup">Kötträtt</label>
                </div>
                <div>
                  <input type="checkbox" id="fish" name="category[]" value="Fisk">
                  <label for="fish">Fisk</label>
                </div>
                <div>
                  <input type="checkbox" id="drink" name="category[]" value="Alkoholfriadrycker">
                  <label for="drink">Alkoholfria drycker</label>
                </div>
                <div>
                  <input type="checkbox" id="alcohol" name="category[]" value="Drinkar">
                  <label for="alcohol">Drinkar</label>
                </div>
                <div>
                  <input type="checkbox" id="dessert" name="category[]" value="Dessert">
                  <label for="dessert">Dessert</label>
                </div>
                <div>
                  <input type="checkbox" id="vegetarian" name="category[]" value="Vegetariskt">
                  <label for="vegetarian">Vegestariskt</label>
                </div>
                <div>
                  <input type="checkbox" id="vegan" name="category[]" value="Vegansk">
                  <label for="vegan">Veganskt</label>
                </div>
              </div>
            </fieldset> 

            <label for="picture" class="custom-file-upload">Ladda upp bild</label><br/>
            <input type="file" id="picture" name="picture" required/><br/>
            <input type="submit" value="Publicera" class="submit"/>
          </form>
      </main>

      <footer>
        <p><a href="/about">Om oss</a>© Foodnest 2021</p>
        <i class="fab fa-facebook fa-2x" style="color: #3b5998"></i>
        <i class="fab fa-twitter fa-2x" style="color: #55acee;"></i>
        <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
        <i class="fab fa-google fa-2x" style="color: #dd4b39;"></i>
        <i class="fab fa-linkedin fa-2x" style="color: #0082ca;"></i>
      </footer>
    <!--WRAPPER SLUTAR-->
    </div>
  </body>
</html> 