<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <title>Foodnest</title>
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <header>
                    <h1>Foodnest</h1>
                </header>
            </div>

            <div id="nav">
                <nav>
                    <a href="/flode">Flöde</a>
                    <a href="/profil">Se profil</a>
                    <a href="">Inställningar</a>
                    <a href="/">Logga ut</a>
                </nav>    
            </div>  

            <div id="main">
                <img src="static/pesto-med-pasta.jpg" alt="Pasta pesto" width="260px" height="260px">
                <img src="static/amerikanskapannkakor.jpg" alt="Pannkakor" width="260px" height="260px">
                <img src="static/hostgryta.jpg" alt="Höst gryta" width="260px" height="260px">
                <img src="static/lyxig-korv-med-brod.jpg" alt="Korv med bröd" width="260px" height="260px">
                <img src="static/pasta-all-americana.jpg" alt="Pasta" width="260px" height="260px">
                <img src="static/pyttipanna.jpg" alt="Pyttipanna" width="260px" height="260px">
                <img src="static/scones.jpg" alt="Scones" width="260px" height="260px">
                <img src="static/svamprisotto_med_vitloksstekt_broccoli_.jpg" alt="Svamp risotto" width="260px" height="260px">
            </div>

            <div id="footer">
                <footer>
                    <a href="#">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p> © Foodnest 2021</p>
                </footer>
            </div>
        </div>
    </body>
</html>