<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <title>Foodnest</title>
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <img src="static/Logotyp_v1.png" alt="Foodnest logo">
            </div>


        <div id="log_in_page">
            <form action="/flode" method="POST">
                <label for="email">E-postadress</label><br>
                <input type="text" id="email" name="email" placeholder="Ange e-postadress"><br>
                <label for="password">Lösenord</label><br>
                <input type="text" id="password" name="password" placeholder="Ange lösenord"><br>
                <button type="submit">Logga in</button>
            </form>
        </div>
        
        <div>
            <a href="/skapakonto">Skapa konto</a>
        </div>
        
            <footer id="footer">
                <a href="#">Om oss</a>
                <p>Kontakt: foodnest@hotmail.com</p>
                <p> © Foodnest 2021</p>
            </footer>
        </div>
    </body>
</html>