<!--
Skall tas bort
FIG1.3.1(M) Lösenordet ska innehålla minst sex tecken
FIG1.3.2(M) Lösenordet ska innehålla minst en siffra
FIG2.0(M) Användare ska kunna logga in på sitt konto
FIG2.1(M) Användaren kan ange användarnamn och lösenord för att logga in
Kommentar för kodgranskning
-->

<!DOCTYPE html>
<html lang="sv">

  <head>
    <meta charset="utf-8"/>
    <title>Logga in</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/>
  </head>

    <body>
        <div id="wrapper">
            <header>
                <a href="/">
                    <img src="static/Logotyp_v1_ny.png" alt="Foodnest logo"/>
                </a>
            </header>

            <main>
                <div id="acc">
                    <div id="link-box">
                        <div id="link-left"></div>
                        <a href="/" class="toggle-link">Logga in</a>
                        <a href="/create_account" class="toggle-link">Registrera dig</a>
                    </div>
                    <form class="input" action="/log_in" method="POST">
                        <input type="text" id="email" name="email" placeholder="exempel@foodnest.com" required/><br/>
                        <input type="password" id="password" name="password" placeholder="Ange ditt lösenord" required/><br/>
                        <input type="submit" value="Logga in" id="submit"/>
                    </form>
                </div>

                <!--
                <div id="register">
                    <a href="/create_account" class="reg">Registrera dig</a>
                </div>
                --> 

                <div id="error-box">
                    % if error != '':
                        <p>{{error}}</p>
                    % end
                </div>
            
            </main>
        
            <footer>
                <p><a href="/about">Om oss</a> © Foodnest 2021</p>
            </footer>
        </div> <!--SLUT PÅ WRAPPER-->
    </body>
</html>