<!DOCTYPE html>
<html lang="sv">
    
  <head>
    <meta charset="utf-8"/>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <title>Min profil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <nav class="navbar">
          <div class="logo">
            <a href="/posts">
              <img src="static/foodnest-logo-v2.png" id="foodnest-logo" alt="Foodnest logo"/>
            </a>
          </div>
          <a href="#" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </a>

          <div class="navbar-links">
            <ul>
              <li>
                <a href="/posts">Utforska</a>
              </li>             
              <li>
                <a href="/create_recipe">Skapa recept</a>
              </li>
              <li>
                <a href="/profile">Min profil</a>
              </li>
              <li>
                <a href="/">Logga ut</a>
              </li>
            </ul>
          </div>
        </nav>  
      </header>

      <main>
        <h3>Mina gillade inlägg</h3>
        % for l in liked:
          <a href="/recipe/{{l['id']}}">
            <div class="text-title">{{l['title']}}</div>
            <img class="my-image" src="{{l['image']}}"/>
          </a>
        % end
      </main>

      <footer>
        <p><a href="/about">Om oss</a> © Foodnest 2021</p>
      </footer>
    </div> <!--SLUT PÅ WRAPPER-->
  </body>
</html>
<!--KD3-->