<!DOCTYPE html>
<html lang="sv">
    
    <head>
        <meta charset="utf-8"/>
        <link href="static/style.css" rel="stylesheet" type="text/css"/>
        <title>Min profil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <a href="/posts">
                    <img src="static/Logotyp_v1.png" alt="Foodnest logo"/>
                </a>
            </div>

            <div id="nav">
                <nav>
                    <a href="/posts">Utforska</a>
                    <a href="/profile">Min profil</a>
                    <a href="/">Logga ut</a>
                </nav>
            </div>

            <div id="main">
                <main>
                    <h3>Mina gillade inlägg</h3>
                </main>
            </div>

            <div id="footer">
                <footer>
                    <a href="/about">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p> © Foodnest 2021</p>
                </footer>
            </div>
        </div>
    </body>
</html>