<!DOCTYPE html>
<html lang="sv">

  <head>
    <meta charset="utf-8"/>
    <title>Foodnest</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/> 
  </head>

  <body>
    <div id="wrapper">
      <header>
        <a href="/posts">
          <img src="static/Logotyp_v1_ny.png" alt="Foodnest logo"/>
        </a>
      </header>
      
      <nav>
        <ul class="navbar-links">
          <li>
            <a class="active" href="/posts">Utforska</a>
          </li>
          <li>
            <a href="/create_recipe">Skapa recept</a>
          </li>
          <li>
            <a href="/profile">Min profil</a>
          </li>
          <li>
            <a class="log-out" href="/">Logga ut</a>
          </li> 
        </ul> 
        <div class="hamburger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
      </nav>   
        
      <main>
        <form action="/posts" method="POST" id="category-form">
          <select name="category" class="category"><br>
              <option>Alla kategorier</option>
              <option>Nyast</option>
              <option>Äldst</option>
              <option>Dryck/alkoholfritt</option>
              <option>Drinkar</option>
              <option>Fisk</option>
              <option>Pasta</option>
              <option>Vegetariskt</option>
              <option>Veganskt</option>
              <option>Dessert</option>
              <option>Soppor</option>
            </select>
          <button type="submit" id="sort">Sortera</button>
        </form>
        % for r in recipes:
        <div class="row">
          <div class="container">
            <img class="image" src="{{r['img']}}" alt="Bild på recept"/>
            <div class="overlay">
              <a href="/recipe/{{r['id']}}">
                <div class="text">{{r['title']}}</div>
              </a>
            </div>
          </div>
        </div>
        % end
      </main>

      <footer>
        <p><a href="/about">Om oss</a> © Foodnest 2021</p>
      </footer>
    </div><!--WRAPPER SLUTAR-->
  </body>
</html>
<!--KD3-->