<!--
Ska tas bort

FFL1.0(M) Receptet ska visas på en enskild sida i form av endast bilder på recepten
FFL1.1(M) Man ska kunna komma vidare till receptet om man klickar på bilden
FFL2.0(C) Man ska kunna gilla ett inlägg
FFL3.0(C) Man ska kunna sortera alla inlägg i tidsordning. De nyaste inläggen visas överst på sidan automatiskt
	FFL3.1(C) Möjlighet att välja om man vill se inläggen i stigande eller fallande tidsordning
FFL4.0(C) Man ska kunna filtrera efter olika kategorier
	FFL4.1(C) Man ska kunna välja om man endast vill se maträtter
		FFL4.1.(C)1 Man ska kunna välja om man endast vill se soppor
		FFL4.1.2(C) Man ska kunna välja om man endast vill se kötträtter
FFL4.1.3(C) Man ska kunna välja om man endast vill se veganska/vegetariska rätter
FFL4.1.4(C) Man ska kunna välja om man endast vill se pastarätter
FFL4.1.5(C) Man ska kunna välja om man endast vill se specialkost (ex. allergi etc)
	FFL4.2(C) Man ska kunna välja om man endast vill se desserter
	FFL4.3(C) Man ska kunna välja om man endast vill se drycker
		FFL4.3.1(C) Man ska kunna välja om man endast vill se drycker med alkohol
		FFL4.3.2(C) Man ska kunna välja om man endast vill se drycker utan alkohol
	FFL5.1(S) Det ska finnas klickbara länkar

    - lägga in recept i db
    - kolumn (bild) i db 
-->
<!--
<img src="static/pesto-med-pasta.jpg" alt="Pasta pesto">
<img src="static/amerikanskapannkakor.jpg" alt="Pannkakor">
<img src="static/hostgryta.jpg" alt="Höst gryta">
<img src="static/lyxig-korv-med-brod.jpg" alt="Korv med bröd">
<img src="static/pasta-all-americana.jpg" alt="Pasta">
<img src="static/pyttipanna.jpg" alt="Pyttipanna">
<img src="static/scones.jpg" alt="Scones">
<img src="static/svamprisotto_med_vitloksstekt_broccoli_.jpg" alt="Svamp risotto">
-->
<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8"/>
        <title>Foodnest</title>
        <link href="static/style.css" rel="stylesheet" type="text/css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/>
    </head>

    <body>
        <div id="wrapper">
            <header>
                <a href="/posts">
                    <img src="static/Logotyp_v1.png" alt="Foodnest logo"/>
                </a>
            </header>

                <nav>
                    <a href="/posts">Utforska</a>
                    <a href="/profile">Min profil</a>
                    <a href="/">Logga ut</a>
                </nav>    

                <main>
                    % for r in recipes:    
                    <div class="container">
                        <img class="image" src="{{r['img']}}"/>
                        <div class="overlay">
                            <a href="/recipe/{{r['id']}}">
                            <div class="text">{{r['title']}}</div>
                            </a>
                        </div>
                    </div>
                    % end
                </main>

                <footer>
                    <a href="/about">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p> © Foodnest 2021</p>
                </footer>
        </div>
    </body>
</html>