<!-- 
FP1.0(M) Användare skall kunna se sina gillade recept
FP1.1(C) På inläggen ska användaren kunna se antalet gillningar
FP2.0(M) Användare ska kunna se sina egna inlägg
FP3.0(M) Användare ska kunna se sina inställningar
FP3.1(M) Användaren ska kunna ändra på sina kontaktuppgifter
FP3.2(M) Användaren ska kunna ändra på sitt lösenord
FP4.0(M) Användare ska kunna ta bort sina inlägg
FP5.0(M) Användare ska kunna återställa sitt lösenord
FP6.0(M) Användaren ska kunna logga ut från sitt konto.
-->

<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <title>Min profil</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">        
        <script src="script.js" defer></script>
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <a href="/flode">
                    <img src="static/Logotyp_v1.png" alt="Foodnest logo">
                </a>
            </div>

            <div id="nav">
                <nav>
                    <a href="/flode">Utforska</a>
                    <a href="/profil">Min profil</a>
                    <!--<h3 id="changepassword">  Byta lösenord</h3>-->
                    <button type="button" id="changepassword"> Byt lösenord </button>
                    <a href="/">Logga ut</a>
                </nav>
            </div>

            <div id="main">
                <main>
                    <h1>Mina inlägg</h1>
                    <div id="section_nav">
                        <a href="/skapa_recept">Lägg till recept</a>
                        <a href="liked_recepes.html">Se gillade recept</a>
                        <!--<h3 id="delete"> Ta bort inlägg </h3>-->
                        <button type="button" id="delete">Ta bort inlägg </button>
                        
                    </div>
                    <ul>
                        % 
                        <li><img src="res"></li>
                        <li><h3>"tes"</h3></li>
                        %end
                    </ul>
                </main>
            </div>

            <div id="footer">
                <footer>
                    <a href="/about">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p> © Foodnest 2021</p>
                </footer>
            </div>
        
        </div>
    </body>
</html>