<!-- 
Ska tas bort

FR2.0(C) Det ska finnas ett kommentarsfält med kommentarer andra användare har publicerat
FR3.0(C) Det ska finnas en pop-up ruta om tips för alternativ av specialkost
FR4.0(M) Man ska kunna gilla ett recept
--> 

<!DOCTYPE html>
<html lang="sv">

  <head>
    <meta charset="utf-8"/>
    <title>Foodnest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
    crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  </head>

  <body>
    <div id="wrapper">
      <header>
        <nav class="navbar">
          <div class="logo">
            <a href="/posts">
              <img src="static/foodnest-logo-v2.png" id="foodnest-logo" alt="Foodnest logo"/>
            </a>
          </div>
          <a href="#" class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </a>

          <div class="navbar-links">
            <ul>
              <li>
                <a href="/posts">Utforska</a>
              </li>             
              <li>
                <a href="/create_recipe">Skapa recept</a>
              </li>
              <li>
                <a href="/profile">Min profil</a>
              </li>
              <li>
                <a href="/">Logga ut</a>
              </li>
            </ul>
          </div>
        </nav>  
      </header>
<!-- GAMLA
      <nav>
        <a href="/posts">Utforska</a>
        <a href="/create_recipe">Skapa recept</a>
        <a href="/profile">Min profil</a>
        <a class="log-out" href="/">Logga ut</a>                 
      </nav>
-->
      <main>
        <article>
          <h1 class="recipe-title">{{recipes['title']}}</h1>
          <p>Skapad av {{recipes['first_name']}}</p><br/>
          <div id="recipe-box">
          <img src="{{recipes['picture']}}" alt="Mat" class="recipe-img"/>
          <!-- LIKE-button -->
          <i liked={{liked}} class="bi bi-suit-heart" id="{{recipes['id']}}"></i>
          <!-- Slut LIKE-button -->
          <p>{{total_likes['likes']}} matälskare gillar detta recept</p>
          <div id="recipe">
            <h4>Ingredienser:</h4>
            <p>{{recipes['ingredients']}}</p><br/>
            <h4>Instruktioner:</h4>
            <p>{{recipes['instructions']}}</p><br/>
            <h4>Antal Portioner:</h4>
            <p>{{recipes['portion']}}</p><br/>
          </div>
        </div>
      </article>

        <div id="comment-box">
          <div id="comment">
            <h4 id="comment-title"><img src="static/kopia-comment-img.png" id="comment-pic" alt="Kommentarer">Kommentarer</h4>
            % for c in comments:
              <h5>{{c['first_name']}}</h6>
              <p>{{c['sentence']}}</p>
            % end
          </div>
          <form action="/save_comment/{{recipes['id']}}" method="POST" id="comment-form">
            <label for="comment">Vill du dela med dig om vad du tyckte om receptet? Lämna då gärna en kommentar</label><br>
            <textarea name="comment" id="comment" cols="45" rows="5"></textarea><br>
            <input type="submit" value="Skicka" id="{{recipes['id']}}" class="submit"/>
          </form>
      </div>
      </main>

      <footer>
          <p><a href="/about">Om oss</a> © Foodnest 2021</p>
      </footer>
    </div><!--WRAPPER SLUTAR-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
<!--KD3-->