<!DOCTYPE html>
<html lang="sv"/>
<!-- 
    KRAV - Recept (Boorhan)

    FR1.0(M) Receptet innehåller all information som skaparen av receptet fyllde i #DONE
	    FR1.1(M) Receptet ska innehålla en titel  #DONE
	    FR1.2(M) Receptet ska innehålla en eller flera bilder 
        FR1.3(M) Receptet ska innehålla instruktioner för hur man ska följa receptet 
        FR1.4(M) Receptet ska innehålla en tabell med ingredienser
            FR1.4.1(M) Det ska stå ingrediens mått
    FR2.0(C) Det ska finnas ett kommentarsfält med kommentarer andra användare har publicerat
    FR3.0(C) Det ska finnas en pop-up ruta om tips för alternativ av specialkost
    FR4.0(M) Man ska kunna gilla ett recept
--> 
    <head>
        <meta charset="utf-8"/>
        <title>Recept</title/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="static/style.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet"/>
    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <a href="/flode"/>
                    <img src="static/Logotyp_v1.png" alt="Foodnest logo"/>
                </a>
            </div>

            <div id="nav">
                <nav>
                    <a href="/flode">Utforska</a>
                    <a href="/profil">Min profil</a>
                    <a href="/settings">Inställningar</a>
                    <a href="/">Logga ut</a>                 
                </nav>
            </div>

            <div id="main">
                <main>
                    <article>
                        % for name in title:
                            <h1>{{name}}</h1>
                        % end
                            <img src="#" alt="Bild på mat"/>

                            <h3>Gör så här</h3>
                            <ul id="instructions">
                                % for instruction in instructions:
                                    <li>
                                        {{instruction}}
                                    </li>
                                % end
                            </ul>   
                    </article>

                    <aside> <!-- Box för ingredienser -->
                        <h4>Ingredienser</h4>
                        <ul id="ingredients">
                            % for ingredient in ingredients:
						        <li>
							        {{ingredient}}
						        </li>
					        % end
                        </ul>   
                    
                    </aside>
                </main>
            </div>

            <div id="footer">
                <footer>
                    <a href="/about">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p>© Foodnest 2021</p>
                </footer>
            </div>
        </div> <!-- SLUT AV WRAPPER -->     
    </body>
</html>