<body>
    <div id="wrapper">

        <div id="header">
            <a href="/flode">
                <img src="static/Logotyp_v1.png" alt="Foodnest logo">
            </a>
        </div>

        <div id="nav">
            <nav>
                <a href="/flode">Utforska</a>
                <a href="/profil">Min profil</a>
                <a href="/setting">Inställningar</a>
                <a href="/">Logga ut</a>
            </nav>
        </div>

        <div id="main">
            <main>
                <h1>Inställningar</h1>
                <form action="/update_member" method="POST">
                    <label for="kategori">Vilken kategori vill du ändra</label><br>
                            <select name="kategori" id="kategori"><br>
                                <option>Förnamn</option>
                                <option>Efternamn</option>
                                <option>Password</option>
                    <label for="old">Vad var det gamla? </label>
                    <input type="text" name="old" id="old" placeholder="Ange det gamla.."><br>
                    <label for="new">Vad är det nya? </label>
                    <input type="text" name="new" id="new" placeholder="Ange det nya.."><br>
                </form>
            </main>
        </div>

        <div id="footer">
            <footer>
                <a href="/about">Om oss</a>
                <p>Kontakt: foodnest@hotmail.com</p>
                <p> © Foodnest 2021</p>
            </footer>
        </div>
    
    </div>
</body>
</html>