<!--
FSR1.0(M) Användare ska kunna skapa och lägga upp sina egna recept/inlägg
	FSR1.3.1(C) Varje steg ska en checkbox så man kan bocka av när det steget är färdigt 
FSR1.5(M) Ett inlägg ska innehålla en tabell med ingredienser
FSR1.6(C) Ett inlägg ska kunna läggas in i kategorier
	FSR1.6.1(C) Man kan lägga in ett recept i flera kategorier
FSR2.0(M) När man trycker på publicera knappen så skapas ett inlägg
	FSR2.1(M) Inlägget läggs in i flödet

-->

<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <title>Skapa recept</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <a href="/flode">
                    <img src="static/Logotyp_v1.png" alt="Foodnest logo">
                </a>
            </div>

            <div id="nav">
                <nav>
                    <a href="/flode">Utforska</a>
                    <a href="/profil">Min profil</a>
                    <a href="">Inställningar</a>
                    <a href="/">Logga ut</a>
                </nav>
            </div>

            <div id="main">
                <main>
                    <h1>Skapa inlägg</h1>
                        <form action="/saves_recepe" method="POST">
                            <label for="titel">Titel</label>
                            <input type="text" name="titel" id="titel" placeholder="Ange din titel.."><br>

                            <label for="ingredienser">Ingredienser</label>
                            <textarea name="ingredienser" id="ingredienser" placeholder="Tex 5dl mjöl, 2st ägg etc..." cols="45" rows="5"></textarea><br>

                            <label for="instruktioner">Instruktioner</label>
                            <textarea name="instruktioner" id="instruktioner" placeholder="T.ex: 1. sätt ungen på 220 grader..." cols="45" rows="5"></textarea><br> 

                            <label for="portioner">Ange antal portioner</label>
                            <select name="portioner" id="portioner">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select><br>

                            <label for="filename">Lägg till bild</label>
                            <input type="file" id="picture" name="picture"><br>
                            <input type="submit" value="Publicera på Foodnest" id="submit"/>
                        </form>
                </main>
            </div> <!---SLUT PÅ DIV MAIN-->

            <div id="footer">
                <footer>
                    <a href="/about">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p> © Foodnest 2021</p>
                </footer>
            </div>
    
        </div> <!---SLUT PÅ WRAPPER-->
    </body>
</html> 