<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <title>Skapa recept</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <header>
                    <h1>Foodnest</h1>
                </header>
            </div>

            <div id="nav">
                <nav>
                    <a href="/flode">Startsida</a>
                    <a href="/profil">Min profil</a>
                    <a href="">Inställningar</a>
                    <a href="/">Logga ut</a>
                </nav>
            </div>

            <div id="main">
                <main>
                    <h1>Skapa inlägg</h1>
                    <form action="/" method="POST">
                        <label for="skapainlagg">Titel</label>
                        <input type="text" name="skapainlagg" id="skapainlagg" placeholder="Ange din titel..">

                        <label for="ingredienser">Ingredienser</label>
                        <textarea name="ingredienser" id="ingredienser" cols="45" rows="5"></textarea> 

                        <label for="instruktioner">Instruktioner</label>
                        <textarea name="instruktioner" id="instruktioner" cols="45" rows="5"></textarea> 

                        <label for="portioner">Ange antal portioner</label>
                        <select name="portioner" id="portioner">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>

                        <input type="submit" value="Publicera" id="submit"/>
                        </select>
                    </form>
                </main>
            </div>

            <div id="footer">
                <footer>
                    <a href="#">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p> © Foodnest 2021</p>
                </footer>
            </div>
    
        </div>
    </body>
</html> 