<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <link href="static/style.css" rel="stylesheet" type="text/css">
        <title>Skapa recept</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="wrapper">

            <div id="header">
                <a href="/flode">
                    <img src="static/Logotyp_v1.png" alt="Foodnest logo">
                </a>
            </div>

            <div id="nav">
                <nav>
                    <a href="/flode">Utforska</a>
                    <a href="/profil">Min profil</a>
                    <a href="">Inställningar</a>
                    <a href="/">Logga ut</a>
                </nav>
            </div>

            <div id="main">
                <main>
                    <h1>Skapa inlägg</h1>
                        <form action="saves_recepe" method="POST">
                            <label for="titel">Titel</label><br>
                            <input type="text" name="titel" id="titel" placeholder="Ange titel för receptet"><br>

                            <label for="ingredienser">Ingredienser</label><br>
                            <textarea name="ingredienser" id="ingredienser" placeholder="T.ex. 5dl mjöl, 2st ägg etc..." cols="45" rows="5"></textarea><br>

                            <label for="instruktioner">Instruktioner</label><br>
                            <textarea name="instruktioner" id="instruktioner" placeholder="T.ex. 1. Sätt ungen på 220 grader..." cols="45" rows="5"></textarea><br> 

                            <label for="portioner">Ange antal portioner</label><br>
                            <select name="portioner" id="portioner"><br>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select><br>

                            <input type="file" id="myFile" name="filename"><br>
                            <input type="submit" value="Publicera på Foodnest" id="submit"/>
                        </form>
                </main>
            </div> <!---SLUT PÅ DIV MAIN-->

            <div id="footer">
                <footer>
                    <a href="/about">Om oss</a>
                    <p>Kontakt: foodnest@hotmail.com</p>
                    <p> © Foodnest 2021</p>
                </footer>
            </div>
    
        </div> <!---SLUT PÅ WRAPPER-->
    </body>
</html> 