html {
  position: relative;
  min-height: 100%;
}

#wrapper {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

body {
  background-color: #F2F2F2;
  color: #4B5B73;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

header {
  grid-area: header;
  float: left;
  width: 80%;
  height: 100%;
  margin: 5px auto 5px auto;
}

header > a > img {
  height: 95%;
  width: 33%;
}

nav {
  grid-area: nav;
  padding: 10px;
  margin: 2px 50px;
  text-align: left; 
  margin: 0;
  overflow: hidden;
  background-color: #e4e4e4;
}

nav a {
  color: #4B5B73;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: #ddd;
}

nav a.active {
  color: white;
  background-color: #4CAF50;
}

nav > .log-out {
  text-align: right;
  display: flex;
  float: right;
  margin: 0 15px 0 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4B5B73;
  margin: 20px;
}

a:hover {
  color: #000000;
}

main {
  grid-area: main;
  padding-bottom: 125px;
}

main > img {
  width: 20%;
  padding: 10px;
  height: 250px;
}

#log-in {
  width: 30%;
  margin: auto;
}

#log-in > form > input {
  border: none;
  border-bottom: 2px solid #008CBA;
  width: 75%;
  padding: 10px 25px;
  margin: 20px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
  background: transparent;
}

form > input {
  width: 50%;
  padding: 10px 25px;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

form > textarea {
  width: 50%;
  padding: 10px 25px;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

form {
  margin: 20px;
  padding: 20px;
}

#log-in > form > #submit {
  border: none;
  color: #4B5B73;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#log-in > form > #submit:hover {
  background-color: #008CBA;
  color: white;
}

::placeholder {
  color: #000000;
  opacity: 1;
}

footer {
  grid-area: footer;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin: auto;
  background-color: #e4e4e4;
}

.image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  margin: 15px;
}

.container {
  position: relative;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  margin: 15px;
  float: left;
}

.overlay {
  position: absolute;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  margin: 15px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,255,255, 0.8);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #4B5B73;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.row::after {
  clear: both;
  display: table;
}

.bi {
  cursor: pointer;
}

#recipe > p {
  margin: auto;
  width: 50%;
}

textarea {
  resize: none;
}

.reg {
  border: none;
  color: #4B5B73;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.reg:hover {
  background-color: #008CBA;
  color: white;
}