html {
  position: relative;
  min-height: 100%;
}

#wrapper {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

body {
  background-color: #FFF;
  color: #4B5B73;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

header {
  grid-area: header;
  float: left;
  width: 80%;
  height: 100%;
  margin: 5px auto 5px auto;
}

header > a > img {
  height: 95%;
  width: 33%;
  margin: auto;
}

nav {
  grid-area: nav;
  padding: 10px;
  left: 0;
  right: 0;
  margin: 2px 50px;
  text-align: left; 
  margin: 0;
  overflow: hidden;
}

nav a {
  color: #4B5B73;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover:not(.active) {
  background-color: #ddd;
}

nav a.active {
  color: #FFF;
  background-color: #008CBA;
}

nav > .log-out {
  float: right;
  margin: 0 15px 0 0;
  padding: 10px 16px;
}

a {
  text-decoration: none;
  color: #4B5B73;
  margin: 20px;
}

a:hover {
  color: #000000;
}

main {
  grid-area: main;
  padding-bottom: 125px;
}

main > img {
  width: 20%;
  padding: 10px;
  height: 250px;
}

/* Styling för sidan Om oss */
#about-us {
  width: 60%;
  margin: auto;
}

#about-us > h1 {
  padding: 20px;
  border-bottom: 2px solid #4B5B73;
}

/* Bildstorlek på recipe-sida */
article > img {
  max-width: 70%;
}

/* Styling för logga in/skapa konto formulär */
#link-box {
  width: 340px;
  margin: 35px auto;
  position: relative;
  padding: 10px;
  border-radius: 20px;
}

.toggle-link {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  margin: 20px;
  padding: 20px;
}

#link-left {
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #B0E0E6, #008CBA);
  border-radius: 30px;
  transition: .5s;
}

#link-right {
  top: 0;
  right: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #B0E0E6, #008CBA);
  border-radius: 30px;
  transition: .5s;
}

#acc {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px #D3E2E7;
}

#acc > form > input {
  border: none;
  border-bottom: 2px solid #008CBA;
  width: 75%;
  padding: 10px 25px;
  margin: 20px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
  background: transparent;
}

form > input {
  width: 50%;
  padding: 10px 25px;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

form > textarea {
  width: 50%;
  padding: 10px 25px;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

form {
  margin: 20px;
  padding: 20px;
}

#acc > form > #submit {
  width: 50%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: linear-gradient(to right, #B0E0E6, #008CBA);
  border: none;
  outline: none;
  border-radius: 30px;
  color: #4B5B73;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#acc > form > #submit:hover {
  color: #000000;
}

#submit {
  width: 40%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #B0E0E6, #008CBA);
  border: none;
  outline: none;
  border-radius: 30px;
  color: #4B5B73;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#submit:hover {
  color: #FFF;
}

::placeholder {
  color: #000000;
  opacity: 1;
}

fieldset {
  margin: auto;
  padding: 10px;
  width: 25%;
  border: 1px solid #000000;
}

select {
  margin-bottom: 10px;
}

#category-form {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

#sort {
  background-color: #008CBA; 
  color: #FFF; 
  border: 2px solid #008CBA;
  font-family: "Raleway", sans-serif;
  border-radius: 3px;
}

#sort:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 127, 177, 0.2), 0 6px 20px 0 rgba(0, 127, 177, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

/* Footer*/
footer {
  grid-area: footer;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 5px 0px 0px 0px;
  color: #FFF;
  background-color: #6bb2ca;
}

footer a {
  color: #FFF;
}

/* Styling för hur bilder visas på utforska */
.image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  margin: 15px;
  border-radius: 5px;
}

.container {
  position: relative;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  margin: 15px;
  float: left;
}

.overlay {
  position: absolute;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  margin: 15px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255,255,255, 0.8);
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #4B5B73;
  font-size: 25px;
  position: relative;
  margin-top: 90px;
}

.text-title {
  color: #4B5B73;
  font-size: 25px;
  position: relative;
  margin: auto;
  padding-top: 30px;
}

.row::after {
  clear: both;
  display: table;
}

.bi {
  cursor: pointer;
}

#recipe > p {
  margin: auto;
  width: 50%;
}

textarea {
  resize: none;
}

/*Styling för Recept-sidan */
.my-image {
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 20px;
}

.show-recipe {
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.recipe-title {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  border-bottom: 1px solid #4B5B73;
}

/* LIKE-button */
.btn i {
  font-size: 2rem;
  transition: 0.4s;
}

.btn:hover i{
  color: #DC143C;
}

.bi-suit-heart-fill {
  color: #DC143C;
}

#like-form {
  margin: 0;
  padding: 0;
}

.overlay-like {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
  
.overlay-like .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%;-50%);
  padding: 10px 20px;
  margin: 60px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 50px;
  background-color: #f0f0f5;
  border: none !important;
}
/* Slut LIKE-button */ 