html {
  position: relative;
  min-height: 100%;
}

#wrapper {
  max-width: 100%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

body {
  background-color: rgb(248, 248, 248);
  color: #4B5B73;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#index-header {
  grid-area: header;
  width: 100%;
  margin-top: -5px;
}

header {
  grid-area: header;
  float: left;
  width: 100%;
  margin: 0px auto 5px auto;
  margin-top: -5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

header > img {
  height: 200px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 248, 248);
  padding: 0;
  width: 80%;
  margin: auto;
}

#foodnest-logo {
  width: 150px;
  height: 100%;
}

.logo {
  margin: .5rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a:hover:not(.active)::after {
  width: 100%
}

.navbar-links a::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #008CBA;
  transition: width .2s ease-in;
}

.navbar-links li a {
  text-decoration: none;
  color: #4B5B73;
  padding: 10px;
  display: block;
}

.hamburger {
  position: absolute;
  top: .06rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.hamburger .line {
  height: 3px;
  width: 100%;
  background-color: #4B5B73;
  border-radius: 10px;
}

li a.active::after {
  color: #008CBA;
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #008CBA;
  width: 100%
}

li a.active {
  color: #008CBA;
}

a.active {
  color: #008CBA;
}

/* SLUT Navbar */

/* Mobil-läge */
@media (max-width: 700px) {
  .hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-links a:hover:not(.active)::after {
    width: 22%
  }
  
  .navbar-links a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #008CBA;
    transition: width .2s ease-in;
    margin: auto;
  }

  li a.active::after {
    color: #008CBA;
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #008CBA;
    width: 100%
  }
  
  li a.active {
    color: #008CBA;
  }

}

a {
  text-decoration: none;
  color: #4B5B73;
  margin: 20px;
}

a:hover {
  color: #000000;
}

main {
  grid-area: main;
  padding-bottom: 125px;
}

main > img {
  width: 20%;
  padding: 10px;
  height: 250px;
}

/* Styling för sidan Om oss */
#about-us {
  width: 60%;
  margin: auto;
}

#about-us > h1 {
  padding: 20px;
  border-bottom: 2px solid #4B5B73;
}

/* Styling för logga in/skapa konto formulär */
#link-box {
  width: 340px;
  margin: 35px auto;
  position: relative;
  padding: 10px;
  border-radius: 20px;
}

.toggle-link {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  margin: 20px;
  padding: 20px;
}

#link-left {
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #B0E0E6, #008CBA);
  border-radius: 30px;
  transition: .5s;
}

#link-right {
  top: 0;
  right: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, #B0E0E6, #008CBA);
  border-radius: 30px;
  transition: .5s;
}

#acc {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px #D3E2E7;
}

#acc > form > input {
  border: none;
  border-bottom: 2px solid #008CBA;
  width: 75%;
  padding: 10px 25px;
  margin: 20px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
  background: transparent;
}

#title {
  border: 1px solid #008CBA;
  border-radius: 10px;
  width: 50%;
  padding: 10px 25px;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#picture {
  width: 50%;
  padding: 10px 25px;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #4B5B73;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: rgb(248, 248, 248);
  border-radius: 30px;
  color: #4B5B73;
  margin-top: 10px;
}

form > textarea {
  border: 1px solid #008CBA;
  border-radius: 10px;
  width: 50%;
  padding: 10px 25px;
  margin: 10px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

form {
  margin: 20px;
  padding: 20px;
}

#acc > form > #submit {
  width: 50%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 20px;
  background: linear-gradient(to right, #B0E0E6, #008CBA);
  border: none;
  outline: none;
  border-radius: 30px;
  color: #4B5B73;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

#acc > form > #submit:hover {
  color: #000000;
}

.submit {
  width: 40%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #B0E0E6, #008CBA);
  border: none;
  outline: none;
  border-radius: 30px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.submit:hover {
  background: linear-gradient(to left, #B0E0E6, #008CBA);
}

::placeholder {
  color: #000000;
  opacity: 1;
}

fieldset {
  margin: auto;
  padding: 10px;
  width: 25%;
  border: 1px solid #000000;
}

select {
  margin-bottom: 10px;
}

#checkboxes {
  text-align: initial;
  margin-left: 130px;
}

#category-form {
  margin: 0;
  padding-bottom: 0;
  float: right;
  right: 50px;
  position: relative;
  padding-right: 18vh;
}

#sort {
  background-color: #008CBA; 
  color: #FFF; 
  border: 2px solid #008CBA;
  font-family: "Raleway", sans-serif;
  border-radius: 3px;
}

#sort:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 127, 177, 0.2), 0 6px 20px 0 rgba(0, 127, 177, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

/* Footer*/
footer {
  grid-area: footer;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 5px 0px 0px 0px;
  color: #4B5B73;
  background-color: rgb(248, 248, 248);
  border-top: 0.5px solid #4B5B73;
}

footer a {
  color: #4B5B73;
}

/* Styling för hur bilder visas på utforska */
.image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  width: 250px;
  margin: 15px;
  border-radius: 20px;
  float: left;
  position: relative;
}

.container {
  position: relative;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  margin: 15px;
  margin-left: 0;
  float: left;
}

.overlay {
  position: absolute;
  width: 275px;
  height: 275px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(248, 248, 248, 0.8);
  border-radius: 20px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #4B5B73;
  font-size: 25px;
  position: relative;
  margin-top: 130px;
}

.row::after {
  clear: both;
  display: table;
}

.row {
  position: relative;
  width: 250px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
  margin: 15px;
  float: left;
}

.bi {
  cursor: pointer;
}

#recipe > p {
  margin: auto;
  width: 50%;
}

textarea {
  resize: none;
}

/*Styling för Profil-sidan */
#my-recipes {
  margin-top: 10px;
}

.my-image {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.text-title {
  color: #4B5B73;
  font-size: 25px;
  position: relative;
  width: 250px;
  margin: auto;
  margin-bottom: 10px;
}

/*Styling för Recept-sidan */
.recipe-img {
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.recipe-title {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
  border-bottom: 1px solid #4B5B73;
}

#recipe-box {
  width: 50%;
  float: left;
  margin-left: 70px;
}

#comment-form {
  width: 100%;
  margin: 5px;
}

#comment-box {
  background-color: rgb(235, 235, 235);
  box-shadow: 0px 0px 20px 1px rgb(235, 235, 235);
  border-radius: 20px;
  width: 40%;
  float: right;
  margin-right: 70px;
  margin-top: 20px;
}

#comment-title {
  height: 80px;
  padding-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(247, 247, 247);
  font-weight: bold;
}

#comment-pic {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#comment-form > textarea {
  border: 1px solid #008CBA;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
}

/* LIKE-button */
.btn i {
  font-size: 2rem;
  transition: 0.4s;
}

.btn:hover i{
  color: #DC143C;
}

.bi-suit-heart-fill {
  color: #DC143C;
}

#like-form {
  margin: 0;
  padding: 0;
}

.overlay-like {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
  
.overlay-like .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%;-50%);
  padding: 10px 20px;
  margin: 60px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 50px;
  background-color: #f0f0f5;
  border: none !important;
}

.my-image {
  width: 40%;
  height: 20%;
}

/* Slut LIKE-button */ 
/*KD3*/